<p-panel header="About us">
    <h1>Git it a TRY.</h1>
    <hr>
  Our idea is to set up a web platform for the Human Resources Department. The platform will allow employees to post their document request to the Human Resources Department without having to move there. In addition, it will facilitate the processing of employee requests and allow much more fluidity and efficiency in the management of employee requests. In addition, the platform allows total management of the confidentiality of each Employer's documents by limiting access to these documents at the level of the  of the human resources department. In conclusion, our platform  response to  the needs of Employees in the Resources department Human from their post and in a quick manner.
</p-panel>
